---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Blogging Bluecats</title>
	</head>
	<body>
        <a href="/">Home</a>
        <a href="/about/">About</a>
        <a href="/blog/">Blogging Bluecats</a>
		<h1>And the cats speak...</h1>
        <h2>just listen</h2>

        <h1>First attempt at getting a cat to write a blog</h1>
		<p>Cats actually have lots to say, especially blue cats</p>
<ul>
      <li><a href="/posts/post-1/">Post 1</a></li>
	  <li><a href="/posts/post-2/">Post 2</a></li>
	  <li><a href="/posts/post-3/">Post 3</a></li>
    </ul>
	</body>
</html>
